@font-face {
  font-family: Nunito;
  src: url(../public/Nunito-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito;
}

.language-switcher {
  display: flex;
  position: absolute;
  width: fit-content;
  left: 1rem;
  top: 1rem;
  gap: 1rem;
  align-items: center;
}

.language-switcher a {
  cursor: pointer;
}

#english-flag {
  width: 3.5rem;
}

#danish-flag {
  height: 2rem;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22252f;
  color: #ffffff;
  font-size: 1rem;
  height: 6vh;
}

#nav ul {
  display: flex;
  padding-right: 6rem;
  list-style: none;
  grid-column: 2;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#nav ul a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

#nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#name {
  visibility: hidden;
}

.nav-btn {
  padding: 0.313px;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

#footer {
  background-color: #1a1c23;
  color: #d0d5df;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

#footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#footerSocial {
  display: flex;
  gap: 5rem;
}

#footerSocial a {
  color: #d0d5df;
  text-decoration: none;
  font-size: 2rem;
}

#footerSocial a:hover {
  color: #ffffff;
}

#footerSocial i {
  margin-right: 0.5rem;
}

#footerInfo {
  margin-top: 1rem;
}

#footerInfo p {
  margin: 0;
}

/* Ipad pro - macbook air */
@media only screen and (max-width: 1439px) {
  .language-switcher {
    top: 1.5rem;
  }

  #english-flag {
    height: 2rem;
  }

  #danish-flag {
    height: 2rem;
  }

  #nav ul {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #22252f;
    transform: translateY(-100vh);
  }

  #nav ul a {
    font-size: 2rem;
  }

  #nav ul.responsive-nav {
    transform: translateY(0);
  }

  #name {
    visibility: visible;
    position: absolute;
    font-size: 2rem;
  }

  .nav-btn {
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 1.5rem;
    top: 1.3rem;
    font-size: 2rem;
  }

  .nav-close-btn {
    visibility: hidden;
  }
}

/* Iphone 14 pro max - ipad pro */
@media only screen and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
  }

  .language-switcher {
    top: 1rem;
  }

  #english-flag {
    height: 1.2rem;
    width: auto;
  }

  #danish-flag {
    height: 1.2rem;
    width: auto;
  }

  #nav {
    position: sticky;
    top: 0;
  }

  #nav ul {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #22252f;
    transform: translateY(-100vh);
  }

  #nav ul a {
    font-size: 2rem;
  }

  #nav ul.responsive-nav {
    transform: translateY(0);
  }

  #name {
    visibility: visible;
    position: absolute;
  }

  .nav-btn {
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.3rem;
  }

  .nav-close-btn {
    visibility: hidden;
  }
}
